<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- Alias -->
	<typeAliases>
		<typeAlias alias="form" type="com.intern.assignment.form.FormVO"/>
		<typeAlias alias="user" type="com.intern.assignment.user.UserVO"/>
		<typeAlias alias="content" type="com.intern.assignment.content.ContentVO"/>
		<typeAlias alias="objective" type="com.intern.assignment.content.ObjectiveVO"/>
		<typeAlias type="com.intern.assignment.content.SubjectiveVO"/>
	</typeAliases>
	
 	
	<!-- Sql Mapper -->
	<mappers>
		<mapper resource="mappers/form-mapper.xml"/>
		<mapper resource="mappers/user-mapper.xml"/>
		<mapper resource="mappers/content-mapper.xml"/>
		<mapper resource="mappers/objective-mapper.xml"/>
		<mapper resource="mappers/subjective-mapper.xml"/>
	</mappers>

</configuration>